    <%- include ("partials/header") %>

<div class="app">

    <%- include ("partials/sub-header.ejs") %> 

        <section class="section mx-auto">

            <div class="container mt-2">
                <a href="/api/route/register" class="btn btn-lg btn-primary">Register</a>
                <a href="/api/route/login" class="btn btn-lg btn-secondary">Login</a>                
            </div>
       

        </section>

        <%- include ("partials/sub-footer.ejs") %> 

</div>


    <%- include ("partials/footer") %> 