<%- include ("partials/header") %>
<div class="app">

    <%- include ("partials/sub-header.ejs") %> 


    <section class="section mx-auto">

        <div class="container mt-4">

        <a href="/api/route" class="btn btn-lg btn-secondary">Go Back</a>


            <h1 class="display-4">Login to your Account Here</h1>

            <form action="/api/route/login" method="POST">
                <input type="hidden" name="id">
                <div class="form-group mb-3">
                    <label for="" class="form-label"></label>
                    <input type="text" name="name" required placeholder="Enter your Name" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" required  placeholder="Enter your password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            
        </div>

    </section>

    <%- include ("partials/sub-footer.ejs") %> 

</div>
<%- include ("partials/footer") %>             